# This workflow will install Octave and run unit tests and the demos

name: Octave application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y octave
    - name: Run tests
      run: |
        octave --no-gui test_GVF.m
    - name: Run demo
      run: |
        octave --no-gui run_demo.m
